#wrapper{
	width:75%;
	height:100%;
	margin:0 auto;
}
.col-md-3{
	margin:0;
}
#sidebar{
	height:100%;
	padding:0;
}
#sidebar ul{
	background-color:#EEEEEE;
	padding:1%;
}
#settings h3{
	margin:0px;
	padding:1%;
	background-color:#DDDDDD;
}
.option-group{
	background-color:#EEEEEE;
	border-radius:2%;
	margin-bottom:3%;
}
.option-group p{
	margin:0px;
}
.option-group button{
	margin-top:2%;
}
#group-options{
	padding:2%;
}