/************************************************
GENERAL
*************************************************/


#jumbotron-image {
	max-width : 100%;
	padding : 30px 30px 30px 100px;
}

.naming-section{
	margin : 50px 0 50px 0;
	text-align:  center;
}

.profile-image {
	max-width : 300px;
	max-height : 300px;
}

.featured-profiles-row {
	max-width : 90%;
	margin: 0 auto;
}

/************************************************
NAVBAR
*************************************************/

#main-nav {
	margin-bottom : 0px;
}

#category-nav {
	text-align: center;
}

#category-nav li{ 
	margin : 0 20px 0 20px;
}

