body{
	font-family: 'Open Sans', sans-serif;
	width:100%;
	background-color:white;
}
#wrapper{
	padding:15px;
	width:60%;
	display:block;
	margin-left: auto;
	margin-right: auto;	
	margin-top:2%;
	background-color:#EEE;
}
#sidebar, #item-content{
	padding:0;
}
#sidebar h1{
	margin-top:0;
	font-size:24px;
	font-weight:bold;
}
#item-information{
	padding:10px;
	margin-left:10px;
	background-color:white;
}
#item-information h4{
	margin: 0px;
}
#price{
	font-style:italic;
}
#item-information button{
	width:100%;
}
#seller-information{
	text-align:center;
	background-color:white;
	margin-left:10px;
	margin-top:10px;
	padding:10px;
}
#seller-information h3{
	margin-top:0;
}
#profile-picture{
	width:150px;
	height:150px;
	display:block;
	margin: 0 auto;
}
#featured-items{
	padding-left:10px;
	padding-right:10px;
}
.col-md-6{
	padding:5px;
}
#image{
	margin-right:10px;
	margin-left:10px;
	background-color:white;
	padding:3%;
}
#image img{
	display:block;
	width:100%;
	margin: 0 auto;
}
#item_content{
	backgroun-color:white;
}
#details{
	margin-right:10px;
	margin-left:10px;
	padding:3%;
}
#details p{
	font-size:16px;
}
