.navbar{
	border-radius:0;
	border:none;
	margin-bottom:0px;
	font-size:16px;
	background-color:#F5F5F5;
	width:60%;
	margin:0 auto;
}
#main-nav{
	margin-bottom:0px;
}
#main-nav .navbar-brand{
	font-size:24px;
	font-weight:bold;
	color:#222;
}
#main-nav a{
	color:#222;
}
#main-nav .navbar-left{
	margin-left:1%;
	width:40%;
}
#main-nav .navbar-form .form-group{
	width:75%;
}

#main-nav .navbar-form .form-control{
	width:100%;
}
#main-nav .navbar-right{
	margin-right:1%;
}
#category-nav{
	background-color:white;
	border-top:1px solid #AAA;
	border-bottom:1px solid #CACACA;
	min-height:0px;
	margin-left:auto;
	margin-right:auto;
}
#category-nav .navbar-nav {
	width: 100%;
	text-align: center;
}
#category-nav li {
	float: none;
   	display: inline-block;
   	font-size:15px;
}
#category-nav li a{
	padding-top:6px;
	padding-bottom:6px;
}
#category-nav .active a{
	color:white;
	background-color:#FF6600;
	border-bottom:6px solid #FF6600;
}
#category-nav a:hover{
	border-bottom:6px solid #FF6600;
}
.btn{
	border: 1px solid #CC5200;
	border-bottom-width:3px;
	background-color:#FF6600;
	color:white;
}
.btn:hover, .btn:focus, .btn:active{
	background-color:#E65C00;
	border: 1px solid #B84A00;
	border-bottom-width:3px;
	color:white;
}
.btn:active{
	border-bottom-width:1px;
	border-top-width:3px;
}
