h1, p{
	margin-top:0px;
	margin-bottom:0px;
}
#wrapper{
	margin-top:1%;
}
#profile{
	text-align:center;
	background-color:white;
}
#profile img{
	width:200px;
	height:200px;
}
#profile-picture{
	width:400px;
	height:400px;
	display:block;
	margin: 0 auto;
}
#profile-picture img{
	width:100%;
}
#personal-information{
	text-align:left;
	background-color:#EEEEEE;
	padding:1%;
	width:60%;
	margin-top:1%;
	margin-left:auto;
	margin-right:auto;
}
#bio{
	padding-top:1%;
	padding-bottom:1%;
	padding-right:5%;
	padding-left:5%;
	margin:0 auto
}
#sale-items{	
	background-color:#EEEEEE;
	width:60%;
	display:block;
	margin-top:1%;
	margin-left:auto;
	margin-right: auto;
	padding:1%;
	text-align:center;
}
#sale-items h3{
	margin-top: 0px;
}
.col-md-2{
	padding:0px;
	margin: 0px;
}
.featured-item{
	padding:1%;
	text-align:center;
	background-color:white;
}
.caption p{
	font-size:18px;
}
#profile-picture{
	width:100px;
	height:100px;
	margin:0 auto;
}
#featured-profiles{
	width:60%;
	padding:1%;
	margin-top:1%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:#EEEEEE;
}
#featured-profiles h3{
	margin-top:0px;
}
.crop{
	overflow:hidden;
	height:200px;
}
.crop img{
	width:350px;
	margin-left:-50px;
}
#featured-profiles .col-md-3{
	padding: 5px;
}
#footer{
	text-align:center;
	background-color:#CCCCCC;
	margin-top:1%;
	height:100%;
	bottom:0;
}
#footer p{
	padding:1%;
	font-size:18px;
}