.main{
	width:80%;
}
.sidebar{
	background: #EEE;
	border-radius: 5px;
	padding:0px;
}
.sidebar h2{
	font-size:18px;
	font-weight:bold;
	margin-left:5%;
}
.sidebar ul li{
	list-style:none;
}
.color{
	margin:5px;
	width:15px;
	height:15px;
	float:left;
}
#price-filter p{
	text-align:center;
	margin-bottom:0px;
}
.input-group{
	width:50%;
	margin:0 auto;
}
#red{background-color:red;}
#blue{background-color:blue;}
#green{background-color:green;}
#yellow{background-color:yellow;}
#orange{background-color:orange;}
#purple{background-color:purple;}
#black{background-color:black;}
#white{background-color:white;}

#location-filter h2{
	clear:both;
}