/************************************************
GENERAL
*************************************************/

a{
	text-decoration:none;
}

ul {
}

img {
	max-width : 100%;
}

.centered {
	text-align : center;
	clear:both;
	padding-left:  10%;
	padding-right : 10%;
}

/************************************************
HEADING
*************************************************/



/************************************************
FOOTER
*************************************************/
.btn-checkout {
	display : inline-block;
	clear: both;
	width : 40%;
	height : 50px;
	margin : 30px 30% 40px 30%;
}

/************************************************
SHOPPING
*************************************************/
.shopping-cart-images {
	max-width : 450px;
	max-height: 450px;
}
.item-description{ 
	margin : 0 auto;
}

.item-thumbnail {
	margin : 30px;
}
.thumbnail {
	max-width : 80%;
	margin :  30px 10% 0 10%;
	background-color : #ddd;
}

.thumbnail-parts {
	margin : 20px 10% 0 10%;
	max-width : 80%;
}

.item-btn {
	width : 80%;
}

/************************************************
COLORS
*************************************************/
