appdirs==1.4.3
Django==1.9
django-braces==1.11.0
django-crispy-forms==1.6.1
django-jet==1.0.5
feedparser==5.2.1
google-api-python-client==1.4.1
httplib2==0.10.3
oauth2client==4.0.0
packaging==16.8
pyasn1==0.2.3
pyasn1-modules==0.0.8
pyparsing==2.2.0
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
django-bootstrap3==8.2.1

# heroku configurations

dj-database-url==0.4.1
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2
