.shipping, .payment, .submitorder{
	padding-bottom:15px;
	display:none;
}
.shipping:target {
	display:block;
}

.payment:target {
	display:block;
}

.submitorder:target {
	display:block;
}

/******************************************
LABEL BACKGROUNDS AND STUFF FOR SHIPPING/PAYMENT/SUBMIT
********************************************/
.checkoutTop {
	width:100%;
	margin: auto;
	margin-bottom:10px;
	display:block;
	padding-top:10px;
	padding-bottom: :10px;
}
.topLabels {
	background:#EEE;
	margin:auto;
	width:31%;
	text-align: center;
	height:50%;
	padding:2%;
	font-size: 18px;
	border-radius: 2px;
	margin: 0 1%;
}


/*****************************************************
SPECIFIC TO TARGET LABELS
*****************************************************/
.shipping:target .shippingLabel {
	background:#ff6600;
	color:white;
}
.payment:target .paymentLabel {
	background:#ff6600;
	color:white;
}
.submitorder:target .submitLabel {
	background:#ff6600;
	color:white;
}
/****************************************************
FONTS
*****************************************************/
.submitdata {
	font-size: 14px;
}
.cartitem {
	font-size:13px;
}
.headsubmit {
	font-weight:bold;
	font-size: 24px;
}
/*****************************
Submit form css
****************************/
.submitdata {
	text-align: left;
}
.cartitem {
	padding:5px;
}
.headsubmit{
	margin-top: 25px;
}
.finalcart-items h1{
	text-align:center;
}