.exterior {
	width : 50%;
	height: 50%;
	display: block;
	margin:auto;
}
.checkout-form-holder {
	width : 100%;
	height: 100%;
	margin:auto;
	text-align: center;
}

.shipping, .payment, .submitorder{
	display : none;
}

.shipping:target {
	display:block;
}

.payment:target {
	display:block;
}

.submitorder:target {
	display:block;
}
#expiration {
	clear:both;
}