.shipping, .payment, .submitorder{
	padding-bottom:15px;
}

.shipping:target {
	display:block;
}

.payment:target {
	display:block;
}

.submitorder:target {
	display:block;
}

/******************************************
LABEL BACKGROUNDS AND STUFF FOR SHIPPING/PAYMENT/SUBMIT
********************************************/
.checkoutTop {
	width:100%;
	margin: auto;
	margin-bottom:10px;
	display:block;
	padding-top:10px;
	padding-bottom: :10px;
}
.topLabels {
	background:#CFE;
	margin:auto;
	width:32%;
	text-align: center;
	height:50%;
	padding:2%;
	font-size: 18px;
	border-radius: 2px
}


/*****************************************************
SPECIFIC TO TARGET LABELS
*****************************************************/
.shipping:target .shippingLabel { 
	border-style:solid;
}
.payment:target .paymentLabel {
	border-style:solid;
}
.submitorder:target .submitLabel {
	border-style:solid;
}
/****************************************************
FONTS
*****************************************************/
.submitdata {
	font-size: 13px;
}
.cartitem {
	font-size:13px;
}
.headsubmit {
	font-size: 18px;
}
/*****************************
Submit form css
****************************/
.submitdata {
	text-align: left;
}
.cartitem {
	padding:5px;
}
.headsubmit{
	margin-top: 10px;
}
