/************************************************
GENERAL
*************************************************/

/************************************************
NEWSFEED
*************************************************/
#wrapper{
	width:60%;
	margin: 0 auto;
}
.jumbotron {
	text-align:center;
	margin-top:3%;
	padding:10%;
	background-image:url(/static/files/pie.jpg);
	background-size:cover;
}
.jumbotron h1{
	color:#222;
}
.jumbotron p{
	color:#333;
}
.jumbotron .btn{
	padding-left:3%;
	padding-right:3%;
	padding-top:2%;
	padding-bottom:2%;
}
.section-title{
	font-size:36px;
}
.featured-profiles{
	text-align:center;
	padding:3%;
	border-top:1px solid #222;
	border-bottom:1px solid #222;
}
.featured-profiles h2{
	margin-top:0;
	margin-bottom:2%;
}
.featured-profiles .col-md-4{
	padding:1%;
}
.profile{
	background-color:#EEE;
	margin: 0 auto;
	padding:5%;
}
.profile-image{
	margin: 0 auto;
	width:200px;
	height:200px;
}
.caption h3{
	font-weight:bold;
	text-align:center;
	margin-bottom:0px;
}
.profile a{
	font-size:14px;
}
.featured-items{
	padding:3%;
	text-align:center;
}
.featured-items h2{
	margin-top:0;
	margin-bottom:2%;
}
.img-thumbnail{
	margin:4%;
}