/************************************************
GENERAL
*************************************************/

/************************************************
NEWSFEED
*************************************************/
#wrapper{
	width:60%;
	margin: 0 auto;
}
#in .row{
	margin-top:3%;
}
#in #user{
	font-weight:bold;
	font-size:24px;
	margin-bottom:0px;
}
#in .profile-image{
	margin-top:15px;
	width:125px;
	height:125px;
}
#in .profile-banner{
	background-color:#F5F5F5;
	text-align:center;
	margin-bottom:10px;
}
#in .sidebar{
	background-color:#F5F5F5;
}
#in .profile-banner ul{
	width:100%;
	padding-left:0px;
	color:#428bca;
}
#in .profile-banner ul li{
	display:inline;
	list-style-type:none;
}
.jumbotron {
	text-align:center;
	margin-top:3%;
	padding:10%;
	background-image:url(/static/files/pie.jpg);
	background-size:cover;
}
.jumbotron h1{
	font-weight: bold;
	color:#222;
}
.jumbotron p{
	color:#333;
}
.jumbotron .btn{
	padding-left:3%;
	padding-right:3%;
	padding-top:2%;
	padding-bottom:2%;
}
.section-title h2{
	font-weight:bold;
	font-size:36px;
	margin-top:0px;
	margin-bottom:0px;
}
.section-title p{
	margin-top:-5px;
	font-size:18px;
	color:#777;
}
.featured-profiles{
	text-align:center;
	padding:3%;
	border-top:1px solid #222;
	border-bottom:1px solid #222;
}
.featured-profiles .col-md-4{
	padding:1%;
}
.profile{
	background-color:#EEE;
	margin: 0 auto;
	padding:5%;
}
.profile-image{
	margin: 0 auto;
	width:150px;
	height:150px;
}
.caption h3{
	font-weight:bold;
	text-align:center;
	margin-bottom:0px;
}
.profile a{
	font-size:14px;
}
.featured-items{
	padding:3%;
	text-align:center;
}