{% extends 'base.html' %}
{% load staticfiles %}

{% block page_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/account-settings.css' %}"/>
{% endblock %}
	
{% block content %}
	<div id="wrapper">
		<div class="row">
			<div class="col-md-3" id="sidebar">
				<ul class="nav nav-pills nav-stacked" role="tablist">
					<li role="presentation" class="active"><a href="#">Account</a></li>
		  			<li role="presentation"><a href="#">Preferences</a></li>
		  			<li role="presentation"><a href="#">Privacy & Security</a></li>
		  			<li role="presentation"><a href="#">Payment Options</a></li>
				</ul>
			</div>
			<div class="col-md-9" id="settings">
				<div class="option-group">
					<h3 class="group-name">PASSWORD</h3>
					<div id="group-options">
						<p>Current Password</p>
						<div class="input-group">
			 				<input type="text" class="form-control" placeholder="Username">
						</div>
						<p>New Password</p>
						<div class="input-group">
		 					<input type="text" class="form-control" placeholder="Username">
						</div>
						<p>Confirm New Password</p>
						<div class="input-group">
		 					<input type="text" class="form-control" placeholder="Username">
						</div>
						<button type="button" class="btn btn-primary">Change Password</button>
					</div>
				</div>
				<div class="option-group">
					<h3 class="group-name">E-MAIL</h3>
					<div id="group-options">
						<p>New Email</p>
						<div class="input-group">
			 				<input type="text" class="form-control" placeholder="Username">
						</div>
						<p>Confirm New Email</p>
						<div class="input-group">
			 				<input type="text" class="form-control" placeholder="Username">
						</div>
						<p>Your Etsy Password</p>
						<div class="input-group">
			 				<input type="text" class="form-control" placeholder="Username">
						</div>
						<button type="button" class="btn btn-primary">Change Email</button>
					</div>
				</div>
				<div class="option-group">
					<h3 class="group-name">E-MAIL</h3>
					<div id="group-options">
						<p>New Email</p>
						<div class="input-group">
			 				<input type="text" class="form-control" placeholder="Username">
						</div>
						<p>Confirm New Email</p>
						<div class="input-group">
			 				<input type="text" class="form-control" placeholder="Username">
						</div>
						<p>Your Etsy Password</p>
						<div class="input-group">
			 				<input type="text" class="form-control" placeholder="Username">
						</div>
						<button type="button" class="btn btn-primary">Change Email</button>
					</div>
				</div>
			</div>	
		</div>
	</div>	
{% endblock %}

