{% extends 'base.html' %}
{% load staticfiles %}

{% block page_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock %}

{% block content %}
	<body>
		<div id="wrapper">
			<div id="profile">
				<img class="img-circle" src="/static/files/harrison_profile.jpg"/>
				<h1>{{user.first_name}} {{user.last_name}}</h1>
				<p>7,324 Followers</p>
				<div id="personal-information">
					<div id="bio">
						<h1>A little bit about myself</h1>
						<p>EMAIL: {{ user.email }}</p>
						<p>BIO: {{ userinfo.bio }}</p>
						<p>GENDER: {% if user.gender == True %}Male{% elif user.gender == False %}Female{% else %}Other{% endif %}</p>
						<p>BIRTHDAY: {{ userinfo.birthday|date:"F d, Y" }}</p>
						<p>PHONE NUMBER: {{ userinfo.phonenumber }}</p>
						<br/>	
						<h1>My Work</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>			
				</div>
			</div>
			<div class="row" id="sale-items">
				<h3>Items by Harrison Ding</h3>
				{% for x in "xxxxxx" %}
					<div class="col-md-2">
						<a href="#"><img src="/static/files/featured5.jpg" class="img-thumbnail"/></a>
					</div>
				{%endfor%}
			</div>
			<div class="row" id="featured-profiles">
				<h3>People also bought from</h3	>
				{% for x in "xxxx" %}
					<div class="col-md-3">
						<div class="featured-item">
							<div class="crop"><img src="/static/files/featured1.jpg"/></div>
							<div class="caption">
								<p>Item Title 1</p>
							</div>
							<div class="featured-profile">
								<img id="profile-picture" class="img-circle" src="/static/files/william_profile.jpg"/>
								<h3 class="name">William Hsu</h3>
								<p>4,123 Connections</p>
								<button type="button" class="btn btn-primary">Follow</button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
{% endblock %}