{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
	<title>Browse by Tag</title>
{% endblock %}

{% block page_css %}
	<link rel="stylesheet" href="{% static 'css/grid.css' %}">
{% endblock %}

{% block content %}
	<main class="main">
		<div class="grid">
			{% for item in items %}
				<div class="item r1 c1">
					<a href="#">
						<img src="{% static 'files/featured1.jpg' %}"/>
						<div class="caption">
							<p class="title">{{item.title}}</p>
							<p class="price">${{item.price}} USD</p>
							<p class="seller">Harrison Ding</p>
						</div>
					</a>
				</div>
			{% endfor %}
	</main>
{% endblock %}