{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>Browse by Category</title>
{% endblock %}

{% block page_css %}
	<link rel="stylesheet" href="{% static 'css/grid.css' %} ">
{% endblock %}

{% block content %}
	<main class="main">
		<div class="grid">
			<div class="item r2 c2">
				<a href="#">
					<img src="{% static 'files/featured3.jpg' %}"/>
					<div class="caption">
						<p class="title">INTERESTING TITLE</p>
						<p class="price">$45.78 USD</p>
						<p class="seller">Harrison Ding</p>
					</div>
				</a>
			</div>
			<div class="item r2 c1 r">
				<a href="#">
					<img src="{% static 'files/featured1.jpg' %}"/>
					<div class="caption">
						<p class="title">INTERESTING TITLE</p>
						<p class="price">$45.78 USD</p>
						<p class="seller">Harrison Ding</p>
					</div>
				</a>
			</div>
			<div class="item r1 c1">
				<a href="#">
					<img src="{% static 'files/featured3.jpg' %}"/>
					<div class="caption">
						<p class="title">INTERESTING TITLE</p>
						<p class="price">$45.78 USD</p>
						<p class="seller">Harrison Ding</p>
					</div>
				</a>
			</div>
			<div class="item r1 c2 r">
				<a href="#">
					<img src="{% static 'files/featured3.jpg' %}"/>
					<div class="caption">
						<p class="title">INTERESTING TITLE</p>
						<p class="price">$45.78 USD</p>
						<p class="seller">Harrison Ding</p>
					</div>
				</a>
			</div>
			<div class="item r1 c2">
				<a href="#">
					<img src="{% static 'files/featured2.jpg' %}"/>
					<div class="caption">
						<p class="title">INTERESTING TITLE</p>
						<p class="price">$45.78 USD</p>
						<p class="seller">Harrison Ding</p>
					</div>
				</a>
			</div>
			<div class="item r2 c2">
				<a href="#">
					<img src="{% static 'files/featured5.jpg' %}"/>
					<div class="caption">
						<p class="title">INTERESTING TITLE</p>
						<p class="price">$45.78 USD</p>
						<p class="seller">Harrison Ding</p>
					</div>
				</a>
			</div>
			<div class="item r1 c1 r">
				<a href="#">
					<img src="{% static 'files/featured1.jpg' %}"/>
					<div class="caption">
						<p class="title">INTERESTING TITLE</p>
						<p class="price">$45.78 USD</p>
						<p class="seller">Harrison Ding</p>
					</div>
				</a>
			</div>
		</div>
	</main>
{% endblock %}
		