{% extends 'base.html' %}
{% load staticfiles %}

{% block page_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepageout.css' %}"/>
{% endblock %}

{% block content %}
	{% if user and userinfo %}
		<h1>Signed in as {{user.first_name}} {{user.last_name}} (Sign out to see other homepage)</h1>
		<p>EMAIL: {{ user.email }}</p>
		<p>BIO: {{ userinfo.bio }}</p>
		<p>GENDER: {% if user.gender == True %}Male{% elif user.gender == False %}Female{% else %}Other{% endif %}</p>
		<p>BIRTHDAY: {{ userinfo.birthday|date:"F d, Y" }}</p>
		<p>PHONE NUMBER: {{ userinfo.phonenumber }}</p>
	{% else %}
		<div id="wrapper">
			<div class = "jumbotron">
				<h1>Welcome to Craftnet</h1>
				<p>Where you socialize and spread your new arts and crafts through the net</p>
				<a href="#" class="btn btn-lg">JOIN US</a>
			</div>
			<div class = "row featured-profiles" >
				<h2 class="section-title">FEATURED PROFILES</h2>
				<div class = "col-sm-6 col-md-4">
					<div class="profile">
						<img src = "{% static 'files/sheu_profile.jpg' %}" class="img-circle profile-image"/>
						<div class = "caption">
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							<h3>William Sheu</h3>
							<p>2,341 Connections</p>
						</div>
						<a href="#" class="btn btn-lg">FOLLOW</a>
					</div>
				</div>
				<div class = "col-sm-6 col-md-4">
					<div class="profile">
						<img src = "{% static 'files/harrison_profile.jpg' %}" class="img-circle profile-image"/>
						<div class = "caption">
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							<h3>Harrison Ding</h3>
							<p>2,341 Connections</p>
						</div>
						<a href="#" class="btn btn-lg">FOLLOW</a>
					</div>
				</div>
				<div class = "col-sm-6 col-md-4">
					<div class="profile">
						<img src = "{% static 'files/young_profile.jpg' %}" class="img-circle profile-image"/>
						<div class = "caption">
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							<h3>Young Guo</h3>
							<p>2,341 Connections</p>
						</div>
						<a href="#" class="btn btn-lg">FOLLOW</a>
					</div>
				</div>
			</div>
			<div class = "row featured-items">
				<h2 class="section-title">FEATURED ITEMS</h2>
				{% for 'x' in 'xxxx' %}
					<div class="col-md-3">
						<div class="item">
							<img src = "{% static 'files/featured1.jpg' %}" class="img-thumbnail"/>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}