{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>About Us</title>
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
	<div class="container about">
		<div id="intro">
			<h1>ABOUT CRAFTNET</h1>
			<div class="profPic huge" style="background-image:url('{% static 'files/craftnet-square.png' %}')"></div>
		</div>
		<div id="terms-of-use">
			<div class="section-title">
				<h2>Terms of Use</h2>
				<p>Last Updated January 29, 2015</p>
			</div>
			<p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern craftnet's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
			<p>The term crafnet or 'us' or 'we' refers to the owner of the website and organiztion.  The term 'you' refers to the user or viewer of our website.</p>
			<ul>
				<li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
				<li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
				<li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
				<li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
				<li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
				<li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
				<li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
				<li>You retain the rights to your copyrighted content or information that you submit to craftnet ("user content").</li>
				<li>You agree that you have the right to submit anything you post, and that your user content does not violate the copyright, trademark, trade secret or any other personal or proprietary right of any other party.</li>
				<li>By submitting user content to craftnet, you grant us a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content in any medium and for any purpose, including commercial purposes, and to authorize others to do so.</li>
				<li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of the United States of America.</li>
				<li>If you have any questions about this Agreement or other further inquiries, please feel free to contact us at craftnet@craftnet.cf.</li>
			</ul>
		</div>
		<div id="privacy-policy">
			<div class="section-title">
				<h2>Privacy Policy</h2>
				<p>Last Updated January 29, 2015</p>
			</div>
			<p>This privacy policy discloses the privacy practices for (www.craftnet.cf). This privacy policy applies solely to information collected by this web site. It will notify you of the following:</p>
			<ol>
				<li>What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>
				<li>The security procedures in place to protect the misuse of your information.</li>
				<li>How you can correct any inaccuracies in the information.</li>
			</ol>
			
			<h4>Information Collection, Use, and Sharing</h4>
			<p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
			<p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
			<p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>

			<h4>Security</h4>
			<p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
			<p>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</p>
			<p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>

			<h4>Updates</h4>
			<p>Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>

			<h4>If you feel that we are not abiding by this privacy policy, you should contact us immediately via email at craftnet@craftnet.cf.</h4>
		</div>
		<div id="faq">
			<div class="section-title">
				<h2>Frequently Asked Questions</h2>
				<p>Your questions, answered.</p>
			</div>
			<h4>What is craftnet?</h4>
			<p>craftnet is a one of a kind, online web-store/social-network hybrid.  craftnet prides itself in its diverse culture of business oriented artistic entrepreneurs, all seeking to make a name for themselves in the industry</p>
			<h4>How can I edit my user information?</h4>
			<p>All personal information may be found on the account settings page.</p>
			<h4>How can I change my shipping address?</h4>
			<p>By default, the last used shipping address will be saved into to your craftnet account.  This information can also be changed from the account settings page.</p>
			<h4>How can I track my orders?</h4>
			<p>All requests and orders can be found on the orders page, where you will be able to mark your oders as sent and received.</p>
			<h4>How long will it take for my order to arrive after I make payment?</h4>
			<p>Members should expect to receive their orders as soon as the seller has completed the order.  If you experience delays in receiving your order, contact us immediately and we will help to confirm the status of your order.
			</p>
		</div>
		<div id="disclaimer">
			<div class="section-title">
				<h2>Disclaimer</h2>
				<p>MVFBLA E-Business 2014-2015</p>
			</div>
			<p style="font-style:italic; text-align:center;">Information used on this website is entirely fictitious.  Craftnet does not claim ownership of any media content or information used on this website.</p>
		</div>
	</div>
{% endblock %}