{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% block title %}
		{% endblock %}
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/all2.css' %}">
		{% block page_css %}
		{% endblock %}
		<link rel="shortcut icon" href="{% static 'files/craftnet-square.png' %}"/>
	</head>
	<body>
		<div class="navigation">
			<nav id="main-nav" class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header col-xs-4 col-md-2">
						<a class="navbar-brand" href="/">craftnet</a>
					</div>
					<form class="navbar-form col-xs-8 col-md-5" role="search" method="get" action="/search/">
				        <div class="form-group threefourth">
				        	<input type="text" class="form-control" placeholder="Search" id="q" name="q" value="{{search}}">
				        </div>
				        <button type="submit onefourth" class="btn btn-primary">Search</button>
			    	</form>
					<ul class="nav navbar-nav navbar-right col-xs-12 col-md-5">
						{% if user and userinfo %}
							<li>
								<a href="/user/{{user.username}}/">
									<div class="profPic tiny" style="background-image:url('{% if userinfo.profile_picture %}{{MEDIA_ROOT}}{{userinfo.profile_picture.url}}{% else %}{% static 'files/default-profile.jpg' %}{% endif %}')"></div> 
									{{user.first_name}} {{user.last_name}}
								</a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="/item/createItem">
											<span class="glyphicon glyphicon-plus"></span>
											Add an Item
										</a>
									</li>
									<li>
										<a href="/msg/">
											<span class="badge pull-right" id="unreadMessages"></span>
											<span class="glyphicon glyphicon-comment"></span>
											Messages
										</a>
									</li>
									<li>
										<a href="/acc/settings/">
											<span class="glyphicon glyphicon-asterisk"></span>
											Settings
										</a>
									</li>
									<li>
										<a href="/acc/signout/" class="text-danger">
											<span class="glyphicon glyphicon-remove-circle"></span>
											Sign Out
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/cart/">
									<span class="glyphicon glyphicon-shopping-cart"></span>
									Shopping Cart
								</a>
							</li>
						{% else %}
							<li>
								<a href="/acc/#signin">
									<span class="glyphicon glyphicon-user"></span>
									Sign In
								</a>
							</li>
							<li>
								<a href="/acc/#register">
									<span class="glyphicon glyphicon-pencil"></span>
									Register
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</nav>
			<nav id="category-nav" class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-center">
						<li {% if cnum == 1 %}class="active"{% endif %}><a href="/browse/jewelry">Jewelry</a></li>
						<li {% if cnum == 2 %}class="active"{% endif %}><a href="/browse/pottery">Pottery</a></li>
						<li {% if cnum == 3 %}class="active"{% endif %}><a href="/browse/sewingweaving">Sewing & Weaving</a></li>
						<li {% if cnum == 4 %}class="active"{% endif %}><a href="/browse/clothing">Clothing</a></li>
						<li {% if cnum == 5 %}class="active"{% endif %}><a href="/browse/art">Art</a></li>
					</ul>
				</div>
			</nav>			
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<footer class="footer">
			<div class="row">
				<div class="col-md-2 col-md-offset-2">
					<h6 class="footer-title">About Us</h6>
					<ul class="footer-list">
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-md-offset-1">
					<h6 class="footer-title">Let Us Help You</h6>
					<ul class="footer-list">
						<li><a href="#">Your Account</a></li>
						<li><a href="#">Shipping Rates & Policies</a></li>
						<li><a href="#">Returns & Replacements</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-md-offset-1">
					<h6 class="footer-title">Follow craftnet</h6>
					<ul class="footer-list">
						<li class="social-media-item">
							<a target="new" href="#">
								<img src="{% static 'files/facebook-icon.png' %}" class="social-media-icon" />
								Facebook
							</a>
						</li>
						<li class="social-media-item">
							<a target="new" href="#">
								<img src="{% static 'files/twitter-icon.png' %}" class="social-media-icon" />
								Twitter
							</a>
						</li>
						<li class="social-media-item">
							<a target="new" href="#">
								<img src="{% static 'files/pinterest-icon.png' %}" class="social-media-icon" />
								Pinterest
							</a>
						</li>
						<li class="social-media-item">
							<a target="new" href="#">
								<img src="{% static 'files/instagram-icon.png' %}" class="social-media-icon" />
								Instagram
							</a>
						</li>
						<li class="social-media-item">
							<a target="new" href="#">
								<img src="{% static 'files/snapchat-icon.png' %}" class="social-media-icon" />
								Snapchat
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="copyright text-center">
				<p>&copy; 2015 craftnet, inc.</p>	
			</div>
		</footer>
		<script src="{% static 'css/js.js' %}"></script>	
	</body>
</html>