{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% block title %}
		{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/all2.css' %}">
		{% block page_css %}
		{% endblock %}
		<link rel="shortcut icon" href="{% static 'files/favicon.ico' %}"/>
	</head>
	<body>
		<div id="wrapper">
			<div class="navigation">
				<nav id="main-nav" class="navbar navbar-default navbar-static-top top-top" role="navigation">
					<div class="container">
						<div class="navbar-header col-xs-4 col-sm-2 col-md-2">
							<a class="navbar-brand" href="/"><b>Emark</b></a>
						</div>
						<form class="navbar-form col-xs-8 col-sm-5 col-md-6" role="search" method="get" action="/search/">
					        <div class="form-group threefourth">
					        	<input type="text" class="form-control" placeholder="Search" id="q" name="q" value="{{search}}">
					        </div><button type="submit" class="btn btn-primary onefourth">Search</button>
				    	</form>
						<ul class="nav navbar-nav navbar-right col-xs-12 col-sm-5 col-md-4">
							{% if user and userinfo %}
								<li>
									<a href="/user/{{user.username}}/">
										<div class="profPic tiny" style="background-image:url('{% if userinfo.profile_picture %}{{MEDIA_ROOT}}{{userinfo.profile_picture.url}}{% else %}{% static 'files/default-profile.jpg' %}{% endif %}')"></div>
										{{user.first_name}} {{user.last_name}}
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="/item/createItem">
												<span class="glyphicon glyphicon-plus"></span>
												Add an Item
											</a>
										</li>
										<li>
											<a href="/acc/purchaseHistory/#pending">
												<span class="glyphicon glyphicon-th-list"></span>
												Purchase History
											</a>
										</li>
										<li>
											<a href="/msg/">
												<span class="badge pull-right" id="unreadMessages"></span>
												<span class="glyphicon glyphicon-comment"></span>
												Messages
											</a>
										</li>
										<li>
											<a href="/acc/settings/">
												<span class="glyphicon glyphicon-asterisk"></span>
												Settings
											</a>
										</li>
										<li>
											<a href="/acc/signout/" class="text-danger">
												<span class="glyphicon glyphicon-remove-circle"></span>
												Sign Out
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/cart/">
										<span class="glyphicon glyphicon-shopping-cart"></span>
										Shopping Cart
									</a>
								</li>
							{% else %}
							<!--Category advert dropdown -->
							<div class="dropdown" id="dropdown">
					     <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Place your advert
					     <span class="caret"></span></button>
					     <ul class="dropdown-menu">
					       <li class="dropdown-header">Select a category</li>
								 <li><a href="{% url 'item:job' %}">Jobs</a></li>
								 <li><a href="{% url 'item:motor' %}">Motor</a></li>
								 <li><a href="{% url 'item:event' %}">Events</a></li>
								 <li><a href="{% url 'item:service' %}">Services</a></li>
								 <li><a href="{% url 'item:electronic' %}">Electronics</a></li>
								 <li><a href="{% url 'item:education' %}">Education</a></li>
								 <li><a href="{% url 'item:home_garden' %}">Home & Garden</a></li>
								 <li><a href="{% url 'item:boutiques_fashion' %}">Boutiques and Fashions</a></li>
					       <li class="divider"></li>
					       <li class="dropdown-header"></li>
					       <li><a href="/about/">About Us</a></li>
					     </ul>
					   </div>

								<li>
									<a href="/acc/#signin">
										<span class="glyphicon glyphicon-user"></span>
										Sign In
									</a>
								</li>
								<li>
									<a href="/acc/#register">
										<span class="glyphicon glyphicon-pencil"></span>
										Register
									</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</nav>
				<nav id="category-nav" class="navbar navbar-default navbar-static-top navbar-nobg" role="navigation">
					<div class="container-fluid">
						<ul class="nav navbar-nav navbar-center">
							<li {% if cnum == 1 %}class="active"{% endif %}><a href="/browse/ELECTRONICS">ELECTRONICS</a></li>
							<li {% if cnum == 2 %}class="active"{% endif %}><a href="/browse/EVENTS">EVENTS</a></li>
							<li {% if cnum == 3 %}class="active"{% endif %}><a href="/browse/EDUCATION">EDUCATION</a></li>
							<li {% if cnum == 3 %}class="active"{% endif %}><a href="/browse/MOTOR">MOTOR</a></li>
							<li {% if cnum == 4 %}class="active"{% endif %}><a href="/browse/SERVICE">SERVICE</a></li>
							<li {% if cnum == 5 %}class="active"{% endif %}><a href="/browse/JOBS">JOBS</a></li>
							<li {% if cnum == 3 %}class="active"{% endif %}><a href="/browse/BOUTIQUESFASHION">BOUTIQUES & FASHION</a></li>
							<li {% if cnum == 3 %}class="active"{% endif %}><a href="/browse/HOMEGARDEN">HOME & GARDEN</a></li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="content">
				{% block content %}

				{% endblock %}
				<hr>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-md-offset-2">
							<h6 class="footer-title">About Us</h6>
							<ul class="footer-list">
								<li><a href="/about/#terms-of-use">What is Emark </a></li>
								<li><a href="/about/#privacy-policy">What we do</a></li>
								<li><a href="/about/#faq">FAQ</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-md-offset-1">
							<h6 class="footer-title">For You</h6>
							<ul class="footer-list">
								{% if user and userinfo %}
									<li><a href="/acc/settings">Account Settings</a></li>
									<li><a href="/msg/">Messages</a></li>
								{% else %}
									<li><a href="/acc/#register">Register for Emark</a></li>
									<li><a href="/acc/#signin">Sign In</a></li>
								{% endif %}
							</ul>
						</div>
						<div class="col-md-2 col-md-offset-1">
							<h6 class="footer-title">Follow Emark</h6>
							<ul class="footer-list">
								<li class="social-media-item">
									<a target="new" href="https://www.facebook.com/pages/emark/652309304879283">
										<img src="{% static 'files/facebook-icon.png' %}" class="social-media-icon" />
										Facebook
									</a>
								</li>
								<li class="social-media-item">
									<a target="new" href="https://twitter.com/emark">
										<img src="{% static 'files/twitter-icon.png' %}" class="social-media-icon" />
										Twitter
									</a>
								</li>
								<li class="social-media-item">
									<a target="new" href="https://www.pinterest.com/emark">
										<img src="{% static 'files/pinterest-icon.png' %}" class="social-media-icon" />
										Pinterest
									</a>
								</li>
								<li class="social-media-item">
									<a target="new" href="mailto:emark@gmail.com">
										<img src="{% static 'files/gmail-icon.png' %}" class="social-media-icon" />
										Contact Us
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright text-center">
					<p>&copy; 2017 Emark services.</p>
				</div>
			</footer>
		</div>
		<script src="{% static 'css/js.js' %}"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		 <script>
	    $(document).ready(function () {
	        $('.dropdown-toggle').dropdown();
	    });
		</script>
	</body>
</html>
