{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>settings</title>
{% endblock %}

{% block page_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/account-settings.css' %}"/>
{% endblock %}
	
{% block content %}
	<div id="wrapper">
		<div class="row">
			<div class="col-md-3" id="sidebar">
				<ul class="nav nav-pills nav-stacked" role="tablist">
					<li role="presentation" class="active"><a href="#">Account</a></li>
		  			<li role="presentation"><a href="#">Preferences</a></li>
		  			<li role="presentation"><a href="#">Privacy & Security</a></li>
		  			<li role="presentation"><a href="#">Payment Options</a></li>
				</ul>
			</div>
			{{user.first_name}} {{user.last_name}} ({{user.username}}) is logged in
			<div class="col-md-9" id="settings">
				<form id="settingsform" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
					<div class="option-group">
						<h3 class="group-name">USER SETTINGS</h3>
						First Name<input class="form-control half-input" name="firstname" value="{{user.first_name}}"/>
						Last Name<input class="form-control half-input" name="lastname" value="{{user.last_name}}"/>
						Email<input class="form-control" name="email" value="{{user.email}}"/>
						Password (encrypted or something) <input class="form-control" name="password" value="{{user.password}}"/>
					</div>
					<div class="option-group">
						<h3 class="group-name">USERINFO SETTINGS</h3>
						<div id="group-options">
							<textarea rows="10" name="bio" placeholder="Tell us a little about yourself! e.g. Hi, I'm an artist!">{{userinfo.bio}}</textarea>
						</div>
						Phone Number <input class="form-control" name="phonenumber" value="{{userinfo.phonenumber}}"/>
					</div>
					{{form}}
					<button type="submit" value="settings" class="btn">Update Account Information</button>
				</form>
			</div>	
		</div>
	</div>	
{% endblock %}

