{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
	<title>craftnet - browse {{category}} category</title>
{% endblock %}

{% block page_css %}
	<!--<link rel="stylesheet" href="{% static 'css/grid.css' %}">-->
{% endblock %}


{% block content %}
<div class="container">
	{% for item in items %}
		<div class="browseItem four">
			<a href="/user/{{item.user.username}}/{{item.itemid}}">
				<div class="img" style="background-image: url({{MEDIA_ROOT}}{{item.picture.url}})"/></div>
				<div class="caption">
					<p class="title">{{item.title}}</p>
					<p class="price">${{item.price|floatformat:2}}</p>
					<p class="seller"><a href="/user/{{item.user.username}}">{{item.user.first_name}} {{item.user.last_name}}</a></p>
				</div>
			</a>
		</div>
	{% empty %}
		<p>No items to display!</p>
	{% endfor %}
</div>
{% endblock %}
