{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<link rel = "stylesheet" href = "{% static 'css/checkout.css' %}">
	
	<div class = "container">
		<div class = "shipping" id = "shipping">
			<div class = "checkoutTop">
				<label class = "topLabels shippingLabel">Shipping</label>
				<label class = "topLabels paymentLabel">Payment</label>
				<label class = "topLabels submitLabel">Submit</label>
			</div>
			<form method = "post" action = "/cart/checkout/pPayment/">
				<div class="panel panel-primary">	
					{% csrf_token %}
					<div class="panel-heading">
						<h3 class="panel-title">Shipping Address</h3>
					</div>
					<div class="panel-body">
						<div class = "form-group">
							<label for = "country">Country : </label>
							<input type = "text" class = "form-control" name = "country" value="{{address.country}}" required>
						</div>
						<div class = "form-group">
							<label for = "street">Street : </label>
							<input type = "text" class = "form-control" name = "street" value="{{address.street}}" required>
						</div>
						<div class = "form-group">
							<label for = "aptsuiteother">Apt / Suite / Other : </label>
							<input type = "text" class = "form-control" name = "aptsuiteother" value="{{address.aptsuiteother}}">
						</div>
						<div class = "form-group">
							<label for = "zipcode">Zip Code : </label>
							<input type = "text" class = "form-control" name = "zipcode" value="{{address.zipcode}}" required>
						</div>
						<div class = "form-group">
							<label for = "city" >City : </label>
							<input type = "text" class = "form-control" name = "city" value="{{address.city}}" required>
						</div>
						<div class = "form-group">
							<label for = "state">State : </label>
							<input type = "text" class = "form-control" name = "state" value="{{address.state}}" required>
						</div>
					</div>
					<div class="panel-footer">
						<button type = "submit" class = "btn btn-primary" id = "shipfilled">Ship to this address</button>
					</div>
				</form>
			</div>
		</div>
		<div class = "payment" id = "payment">
			<div class = "checkoutTop">
				<a href="/cart/checkout/#shipping"><label class = "topLabels shippingLabel">Shipping</label></a>
				<a href="/cart/checkout/#payment"><label class = "topLabels paymentLabel">Payment</label></a>
				<label class = "topLabels submitLabel">Submit</label>
			</div>
			<form method = "post" action = "/cart/checkout/pSubmitOrder/">
			{% csrf_token %}
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Credit Card Information</h3>
					</div>
					<div class="panel-body">
						<div class = "form-group col-sm-12">
							<label for = "cardNumber" class = "col-sm-3 control-label">Card Number : </label>
							<div class = "col-sm-9">
								<input type = "text" class = "form-control" name = "cardNumber" size= "19" placeholder = "XXXX-XXXX-XXXX-XXXX" maxLength = "19" pattern = "\d{4}-?\d{4}-?\d{4}-?\d{4}" value="{{creditcard.cardNumber}}"required>
							</div>
						</div>
						<div class = "form-group col-sm-12" id = "expiration">
							<label for = "ExpMonth" class = "col-sm-3 control-label">Expiration Date : </label>
							<div class = "col-sm-2">
								<input type = "number" class = "form-control" name = "ExpMonth" min = "1" max = "12" placeholder = "MM" value="{{creditcard.monthExp}}" required>
							</div>
							<div class = "col-sm-3">
								<input type = "number" class = "form-control" name = "ExpYear" min = "2015" max = "2100" placeholder = "YYYY" value="{{creditcard.yearExp}}" required>
							</div>
							<div class = "col-sm-3"></div>

						</div>
						<div class = "form-group col-sm-12">
							<label for = "securityCode" class = "col-sm-3 control-label">Security Code : </label>
							<div class = "col-sm-2">
								<input type = "number" class = "form-control" name = "securityCode" min = "100" max = "999" placeholder = "XXX" value="{{creditcard.securityCode}}" required>
							</div>
						</div>

					</div>
					<div class="panel-footer">
						<button type = "submit" class = "btn btn-primary" id = "SubmitPaymentInfo">Continue</button>
					</div>
				</div>
			</form>
		</div>
		<div class = "submitorder" id = "submitorder">
			<div class = "checkoutTop">
				<a href="/cart/checkout/#shipping"><label class = "topLabels shippingLabel">Shipping</label></a>
				<a href="/cart/checkout/#payment"><label class = "topLabels paymentLabel">Payment</label></a>
				<a href="/cart/checkout/#submitorder"><label class = "topLabels submitLabel">Submit</label></a>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title	">Review Order</h3>
				</div>
				<div class="panel-body">
					<div class = "row submitdata">
						<div class = "col-sm-6">
							<h1 class="headsubmit">Address</h1>
							<p>{{address.street}}</p>
							{% if address.aptsuiteother != "" %}
								<p>{{address.aptsuiteother}}</p>
							{% endif %}
							<p>{{address.city}} {{address.state}} {{address.zipcode}}</p>
							<p>{{address.country}}</p>
							<h1 class="headsubmit">Credit Card Information</h1>
							<p>Credit Card : {{creditcard.cardNumber}}</p>
							<p>Expiration Date : {{creditcard.monthExp}}/{{creditcard.yearExp}}</p>
						</div>
						<div class="col-sm-6 finalcart-items">
							<h1 class="headsubmit">Final Order</h1>
							<div class = "cartitemlist">
								{% for cartitem in cartlist %}
									<div class = "browseItem two">
										<div class="img" style="background-image: url('{% if cartitem.item.picture %}{{MEDIA_ROOT}}{{cartitem.item.picture.url}}{% else %}{% static 'files/default-picture.jpg' %}{% endif %}')"/>
										</div>
										<div class="caption">
											<p class="title">{{cartitem.item.title}}</p>
											<p class="price">${{cartitem.item.price|floatformat:2}}</p>
											<p class="seller">{{cartitem.item.user.first_name}} {{cartitem.item.user.last_name}}</p>
											<p class="quantity">Quantity : {{cartitem.quantity}}</p>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<a href = "/cart/checkout/clearOrder/"><button class = "item-btn btn btn-primary">Submit order</button></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}