{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>craftnet</title>
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
	{% if user and userinfo %}
		<div class="container">
			<!-- Logged In -->
			<div class="row">
				<!-- TEMPORARY -->
				<div class="sidebar col-md-3">
					<div class="profile-information blockbg">
						<h1 class="rowheader">{{user.first_name}} {{user.last_name}}</h1>
						<div class="profPic" style="background-image:url('{% if userinfo.profile_picture %}{{MEDIA_ROOT}}{{userinfo.profile_picture.url}}{% else %}{% static 'files/default-profile.jpg' %}{% endif %}')"></div>
						<p><a href="mailto:{{user.email}}" target="new">{{user.email}}</a></p>
						<p><a href="tel:{{userinfo.phonenumber}}" target="new">{{userinfo.phonenumber }}</a></p>
						<a id="links" href="/acc/settings/" type="button" class="btn btn-primary btn-block">Edit Profile</a>
					</div>
					<div class="followlist blockbg">
						<h4 class="rowheader">People you follow</h4>
						{% for followingInfo in followingInfos %}
							<div class="followlist-item" style="margin-bottom:5px;">
								<div class="followlist-img img-circle" style="width:35px; height:35px; background-image: url({% if followingInfo.profile_picture %}{{MEDIA_ROOT}}{{followingInfo.profile_picture.url}}{% else %}{% static 'files/default-profile.jpg' %}{% endif %})"/></div>
								<a class="follower-name" href="/user/{{followingInfo.user.username}}">{{followingInfo.user.first_name}} {{followingInfo.user.last_name}}</a>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-9">
					<div class="item-creation">
						<a href="/item/createItem" class="btn btn-default btn-lg btn-block">Post an item of your own!</a>
					</div>
					<div class="feed">
						<h1 class="rowheader">RECOMMENDED FOR YOU</h1>
						<div class="grid">
							{% for item in feedItems %}
								<div class="browseItem two">
									<a href="/user/{{item.user.username}}/{{item.itemid}}">
										<div class="img" style="background-image: url(
											{% if item.picture %}
												{{MEDIA_ROOT}}{{item.picture.url}}
											{% else %}
												{% static 'files/default-picture.jpg' %}
											{% endif %})"/>
										</div>
										<div class="caption">
											<p class="title">{{item.title}}</p>
											<p class="price">${{item.price|floatformat:2}}</p>
											<p class="seller"><a href="/user/{{item.user.username}}">{{item.user.first_name}} {{item.user.last_name}}</a></p>
										</div>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="container" style="width:100%">	
			<div class="banner" style="background-image:url('{% static 'files/craft-banner.jpg' %}')">
				<h1>WELCOME TO CRAFTNET</h1>
				<p>Where arts and crafts meet business</p>
				<a href="/acc/#register/" class="btn btn-default btn-lg">JOIN US</a>
			</div>
			<div class="homepage-narrow">
				<div class = "row featured-items">
					<div class="section-title">
						<h2>Check out some user creations</h2>
						<p>Artistic entrepreneurs, unite!</p>
					</div>
					{% for item in featureditems %}
						<div class="browseItem three">
							<a href="/user/{{item.user.username}}/{{item.itemid}}">
								<div class="img" style="background-image: url(
									{% if item.picture %}
										{{MEDIA_ROOT}}{{item.picture.url}}
									{% else %}
										{% static 'files/default-picture.jpg' %}
									{% endif %})"/>
								</div>
								<div class="caption">
									<p class="title">{{item.title}}</p>
									<p class="price">${{item.price|floatformat:2}}</p>
									<p class="seller"><a href="/user/{{item.user.username}}">{{item.user.first_name}} {{item.user.last_name}}</a></p>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
				<div class = "row featured-profiles">
					<div class="section-title">
						<h2>Some of craftnet's featured entrepreneurs</h2>
						<p>Check these guys out!</p>
					</div>
					<div class="row">
						{% for userinfo in featureduserinfos %}
							<div class = "col-sm-6 col-md-3">
								<div class="profile">
									<div class="profPic" style="background-image:url('{% if userinfo.profile_picture %}{{MEDIA_ROOT}}{{userinfo.profile_picture.url}}{% else %}{% static 'files/default-profile.jpg' %}{% endif %}')"></div>	
									<div class = "caption">
										<a class="profile-link" href="/user/{{userinfo.user.username}}">{{userinfo.user.first_name}} {{userinfo.user.last_name}}</a>
										<p>{{userinfo.followers.all|length}} Followers</p>
									</div>
									<a type="button" class="btn btn-primary btn-lg" href="/acc/#signin">Follow</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="banner banner-small" style="background-image:url('{% static 'files/craft-banner2.jpg' %}')">
				<h1>Don't wait to join</h1>
				<p>The perfect outlet for your creative drive.</p>
			</div>
		</div>
	{% endif %}
{% endblock %}
