{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>craftnet</title>
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
	<div class="container">
		{% if user and userinfo %}
			<!-- Logged In -->
			<div class="row">
				<!-- TEMPORARY -->
				<div class="sidebar col-md-3">
					<div class="followinglist blockbg">
						<h4 class="rowheader">People you follow {{requestedUser.first_name}}</h4>
						{% for followingInfo in followingInfos %}
							<div class="followlist-item" style="margin-bottom:5px;">
								<div class="followlist-img img-circle" style="width:35px; height:35px; background-image: url({% if followingInfo.profile_picture %}{{MEDIA_ROOT}}{{followingInfo.profile_picture.url}}{% else %}{% static 'files/default-profile.jpg' %}{% endif %})"/></div>
								<a class="follower-name" href="/user/{{followingInfo.user.username}}">{{followingInfo.user.first_name}} {{followingInfo.user.last_name}}</a>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-9">
					<a href="/item/createItem" class="btn btn-default">Post an Item</a>
					<div class="feed">
						<h1 class="rowheader">RECOMMENDED FOR YOU</h1>
						<div class="grid">
							{% for item in feedItems %}
								<div class="browseItem two">
									<a href="/user/{{item.user.username}}/{{item.itemid}}">
										<div class="img" style="background-image: url(
											{% if item.picture %}
												{{MEDIA_ROOT}}{{item.picture.url}}
											{% else %}
												{% static 'files/default-picture.jpg' %}
											{% endif %})"/>
										</div>
										<div class="caption">
											<p class="title">{{item.title}}</p>
											<p class="price">${{item.price|floatformat:2}}</p>
											<p class="seller"><a href="/user/{{item.user.username}}">{{item.user.first_name}} {{item.user.last_name}}</a></p>
										</div>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% else %}		
			<!-- Logged Out -->
			<div class = "jumbotron hm">
				<h1>Welcome to Craftnet</h1>
				<p>Where you socialize and spread your new arts and crafts through the net</p>
				<a href="/acc/#register" class="btn btn-lg">JOIN US</a>
			</div>
			<div class = "row featured-profiles">
				<div class="section-title">		
					<h2>FEATURED PROFILES</h2>
					<p>Meet some of our featured crafters</p>
				</div>
				<div class="row">
					{% for userinfo in featureduserinfos %}
						<div class = "col-sm-6 col-md-3">
							<div class="profile">
								<div class="profPic" style="background-image:url('{% if requestedUserInfo.profile_picture %}{{MEDIA_ROOT}}{{requestedUserInfo.profile_picture.url}}{% else %}{% static 'files/default-profile.jpg' %}{% endif %}')"></div>	
								<div class = "caption">
									<a class="profile-link" href="/user/{{userinfo.user.username}}">{{userinfo.user.first_name}} {{userinfo.user.last_name}}</a>
									<p>{{userinfo.followers.all|length}} Followers</p>
								</div>
								<a type="button" class="btn btn-primary btn-lg" href="/acc/#signin">Follow</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class = "row featured-items">
				<div class="section-title">		
					<h2>FEATURED ITEMS</h2>
					<p>Check out some recent hot items</p>
				</div>
				{% for item in featureditems %}
					<div class="browseItem three">
						<a href="/user/{{item.user.username}}/{{item.itemid}}">
							<div class="img" style="background-image: url(
								{% if item.picture %}
									{{MEDIA_ROOT}}{{item.picture.url}}
								{% else %}
									{% static 'files/default-picture.jpg' %}
								{% endif %})"/>
							</div>
							<div class="caption">
								<p class="title">{{item.title}}</p>
								<p class="price">${{item.price|floatformat:2}}</p>
								<p class="seller"><a href="/user/{{item.user.username}}">{{item.user.first_name}} {{item.user.last_name}}</a></p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
