{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>craftnet</title>
{% endblock %}

{% block page_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/grid.css' %}"/>
{% endblock %}

{% block content %}
	<div id="wrapper">
		{% if user and userinfo %}
			<div id="in">
					<div class="profile-banner">
						<img src="{% static 'files/young_profile.jpg' %}" class="img-circle profile-image"/>
						<p id="user">{{user.first_name}} {{user.last_name}}</p>
						<ul>
							<li><a href="#">Profile</a></li> /
							<li><a href="#">Your Shop</a></li> /
							<li><a href="#">Connections</a></li>
						</ul>
					</div>
					<div class="grid">
						<!-- TEMPORARY -->
						<div class="sidebar item r1 c3">							<h1>CHAT?</h1>
							{% for 'x' in 'xxxxxx' %}
								<div class="chat-user" style="margin-bottom:5px;">
									<img src="{% static 'files/harrison_profile.jpg' %}" class="img-circle" style="width:50px; height:50px;"/>
									<p style="float:right; font-size:18px; padding-right:20%; padding-top:10px">Harrison Ding</p>
								</div>
							{% endfor %}
						</div>
						<div class="item r3">
							<div class="section-title">
								<h2>RECOMMENDED FOR YOU</h2>
								<p>Based off your previous purchases/interactions</p>
							</div>
							<div class="grid">
								{% for 'x' in 'xxxxxxxxx' %}
								<div class="item r2 c1">
									<a href="#">
										<img src="{% static 'files/featured1.jpg' %}"/>
										<div class="caption">
											<p class="title">TITLE</p>
											<p class="price">$45.78 USD</p>
											<p class="seller">Harrison Ding</p>
										</div>
									</a>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}		
			<div class = "jumbotron">
				<h1>Welcome to Craftnet</h1>
				<p>Where you socialize and spread your new arts and crafts through the net</p>
				<a href="#" class="btn btn-lg">JOIN US</a>
			</div>
			<div class = "row featured-profiles">
				<div class="section-title">		
					<h2>FEATURED PROFILES</h2>
					<p>Meet some of our featured crafters</p>
				</div>
				<div class="row">
					{% for 'x' in 'xxx' %}
						<div class = "col-sm-6 col-md-4">
							<div class="profile">
								<img src = "{% static 'files/sheu_profile.jpg' %}" class="img-circle profile-image"/>
								<div class = "caption">
									<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
									<h3>William Sheu</h3>
									<p>2,341 Connections</p>
								</div>
								<a href="#" class="btn btn-lg">FOLLOW</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class = "row featured-items">
				<div class="section-title">		
					<h2>FEATURED ITEMS</h2>
					<p>Check out some recent hot items</p>
				</div>
				<div class="grid">
					{% for 'x' in 'xxxxxxxx' %}
						<div class="item r1 c1">
							<a href="#">
								<img src="{% static 'files/featured1.jpg' %}"/>
								<div class="caption">
									<p class="title">TITLE</p>
									<p class="price">$45.78 USD</p>
									<p class="seller">Harrison Ding</p>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
