{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>{{item.title}} - {{seller.first_name}} {{seller.last_name}} - craftnet</title>
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="sidebar inner item-information">
					<h1 class="item-title">{{item.title}}</h1>
					<h5><div class="stars"><div class="part filled" style="width:{{ratingp}}%"></div><div class="part empty" style="width:{{negratingp}}%"></div></div><!--{{item.averagerating}}--></h5>
					<h4 class="price">ZMK{{item.price|floatformat:2}}</h4>
					<h3>Item Details</h3>
					<em class="category">{{itemCategory}}</em>
					<p>{{item.details}}</p>
					{% if seller == user %}
						<form method="get" action="/item/editItem/{{item.itemid}}">
							<button type="submit" class="btn btn-primary btn-block">Edit Item</button>
						</form>
					{% else %}
						<form id="qform" method="get" action="/cart/addItem/{{item.itemid}}/1">
							<div class="form-group">
								<label for="quantity">Quantity</label>
								<input class="form-control" id = "quantity" type = "number" min = "1" max = "200000000" value="1">
							</div>
							{% if user and userinfo%}
								<button type="submit" class="btn btn-primary btn-block" onclick="document.getElementById('qform').action='/cart/addItem/{{item.itemid}}/' + encodeURI(document.getElementById('quantity').value)">Add To Cart</button>
							{% else %}
								<a href="/acc/#signin" class="btn btn-primary btn-block">Add to Cart</a>
							{% endif %}
						</form>
					{% endif %}
				</div>
				<div class="sidebar inner seller-information">
					<a href="/user/{{seller.username}}" class="seller-name">
						<h3 class="name">{{seller.first_name}} {{seller.last_name}}<h3>
						<div class="profPic large" style="background-image:url('{% if sellerinfo.profile_picture %}{{MEDIA_ROOT}}{{sellerinfo.profile_picture.url}}{% else %}{% static 'files/default-profile.jpg' %}{% endif %}')"></div>
					</a>
					<h5 class="followers">{{sellerinfo.followers.all|length}} Followers</h5>
					<div class="form-group">
						{% if user and userinfo %}
							{% if seller.username == user.username %}
								<a type="button" class="btn btn-primary btn-block" href="/acc/settings"/>Edit Profile</a>
							{% else %}
								{% if followed %}
									<a type="button" class="btn btn-primary btn-block" href="/user/unfollow/{{seller.username}}/"/>Unollow</a>
								{% else %}
									<a type="button" class="btn btn-primary btn-block" href="/user/follow/{{seller.username}}/"/>Follow</a>
								{% endif %}
							{% endif %}
						{% else %}
							<a type="button" class="btn btn-primary btn-block" href="/acc/#signin"/>Follow</a>
						{% endif %}
					</div>
					<div class="featured-items">
						{% for item in selleritems %}
							<div class="browseItem two">
								<a href="/user/{{item.user.username}}/{{item.itemid}}">
									<div class="img" style="background-image: url('{% if item.picture %}{{MEDIA_ROOT}}{{item.picture.url}}{% else %}{% static 'files/default-picture.jpg' %}{% endif %}')"/></div>
								</a>
								<div class="caption">
									<p class="title">{{item.title}}</p>
									<h5 class="price" style="clear:both; float:left;">ZMK{{item.price|floatformat:2}}</h5>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="imgholder large">
					<div class="img" style="background-image:url('{% if item.picture %}{{MEDIA_ROOT}}{{item.picture.url}}{% else %}{% static 'files/sample1.png' %}{% endif %}')"></div>
				</div>
				<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Description</h3>
						</div>
						<div class="panel-body bio">
							{{item.description}}
						</div>
					</div>
				<div id="reviews">
					{% for review in reviews %}
						<div class="panel panel-default review">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="/user/{{review.user.username}}">{{review.user.first_name}} {{review.user.last_name}}</a>'s Review</h4>
							</div>
							<div class="panel-body">
								<h5 class="review-rating"><div class="stars"><div class="part filled" style="width:{{review.ratingp}}%"></div><div class="part empty" style="width:{{review.negratingp}}%"></div></div></h5>
								<p>{{review.text}}</p>
							</div>
						</div>
					{% endfor %}
					{% if seller != user %}
						<form id="reviewform" action="/item/addRating/" method="POST">
							{% csrf_token %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Post A Review</h3>
								</div>
								{% if user and userinfo %}
									<div class="panel-body">
										<div class="form-group">
											<label for="rating">Rating</label>
											<input type="hidden" class="form-control" id="rating" name="rating" value="5"/>
											<div class="pstars">
												<div class="star a" value="1"></div>
												<div class="star a" value="2"></div>
												<div class="star a" value="3"></div>
												<div class="star a" value="4"></div>
												<div class="star a" value="5"></div>
											</div>
										</div>
										<div class="form-group">
										    <label for="review-message">Your Review</label>
										    <textarea class="form-control" id="review-message" rows="5" name="review-message" placeholder="What do you have to say?"></textarea>
										</div>
										<input type="hidden" value={{item.itemid}} id="itemid" name="itemid" />
									</div>
									<div class="panel-footer">
										<input type="submit" value="Post Review" class="btn btn-primary" />
									</div>
								{% else %}
									<div class="panel-body">
										<p>Please sign in to review {{item.title}}</p>
									</div>
									<div class="panel-footer">
										<a class="btn btn-primary" href="/acc/#signin">Sign In</a>
									</div>
								{% endif %}
							</div>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{# comment #}
<section id="main-list_car-20608481" class="vehicle-item-block biggerlink dvt_x-list_car bl-hot" data-dvt_itemid="20608481" style="cursor: pointer;">
	<div class="vehicle-item-pic-block">
		<a href="/used_car/toyota/premio/20608481/" target="_blank" class="bl-bigger">
			<div class="main-pic">
				<img class="dvt_lazy" src="https://img03.carview.co.jp/trade/img06/cars/2537476/20608481/japan car/2004+toyota+premio/01.jpg?width=214&amp;height=161&amp;type=resize" data-original="https://img03.carview.co.jp/trade/img06/cars/2537476/20608481/japan car/2004+toyota+premio/01.jpg?width=214&amp;height=161&amp;type=resize" style="display: inline;">
			</div>
		</a>
	</div>
	<div class="vehicle-item-info-area">
		<div class="vehicle-item-tag-area">
			<p class="stock-category-tag">STOCK</p>
			<p class="sp-price-category-tag">SPECIAL PRICE</p>
		</div>
		<div class="vehicle-item-ttl-area">
			<div class="item-ttl-wrap">
				<h1 class="vehicle-item-ttl">2004&nbsp;Toyota&nbsp;Premio</h1>
				<div class="vehicle-item-ttl-sub">NZT240-5027***
				</div>
			</div>
			<div class="item-grade-wrap">
				<p class="vehicle-item-grade">F L PKG☆FOG☆WOOD PANEL☆CD☆KEYLESS☆</p>
				<div class="vehicle-item-seller-wrap">
					<span class="seller-name">Safari Direct (tradecarview Offici ...
						<a role="button" class="help-seller-stars-wrap txt-nowrap" title="">
							<span class="size-xsmall">:</span>
							<svg class="icon-stars" width="88" height="17" role="img" aria-labelledby="title">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/base/common//symbol-defs.svg?k=9d52720601#icon-star4_7">
								</use>
							</svg>
							<span class="icon-help icon-blue"></span>
						</a>
					</span>
					<span class="icon-flag-wrap">
						<svg class="icon-flag" width="22" height="14" role="img" aria-labelledby="title">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/base/common/symbol-flags.svg?k=9d52720601#392">
							</use>
						</svg>
					</span>
				</div>
			</div>
		</div>
		<div class="vehicle-item-main-info">
			<div class="main-info-box">
				<div class="main-info-ttl">Year
				</div>
				<div class="main-info-body">2004</div>
			</div>
			<div class="main-info-box">
				<div class="main-info-ttl">Engine Capacity
				</div>
				<div class="main-info-body">1,500cc
				</div>
			</div>
			<div class="main-info-box">
				<div class="main-info-ttl">Mileage
				</div>
				<div class="main-info-body">74,170km
				</div>
			</div>
			<div class="main-info-box">
				<div class="main-info-ttl">FOB Price
				</div>
				<div class="main-info-body">US$1,630
				</div>
			</div>
			<div class="main-info-box">
				<div class="main-info-ttl total-price-ttl">
					<a role="button" class="help-total-price-wrap" title="">Estimated Total Price&nbsp;
						<span class="icon-help icon-blue">
						</span>
					</a>
				</div>
				<div class="main-info-body vehicle-item-modal-wrap selected dvt_when_totalprice_lastsetting_already" style="display: none;">
					<a role="button" class="show-modal-select-dest" title="">
						<span class="dvt_totalprice_placeholder dvt_totalprice_placeholder_20608481" data-dvt_itemid="20608481">
						</span>
						<button class="icon-cached">
						</button>
					</a>
				</div>
				<div class="main-info-body select-dest-wrap vehicle-item-modal-wrap dvt_when_totalprice_lastsetting_yet" style="">
					<span class="icon-chevron-right-bold">
					</span>
					<a class="select-dest show-modal-select-dest" title="">Select your Country<br>&amp; Nearest Port
					</a>
				</div>
			</div>
			<div class="main-info-box">
				<div class="main-info-body description">NO.1 JAPAN QUALLITY
				</div>
			</div>
		</div>
		<div class="vehicle-item-sub-info">
			<div class="car-info-opption-tag">RHD
			</div>
			<div class="car-info-opption-tag">Gasoline
			</div>
			<div class="car-info-opption-tag">AT
			</div>
			<div class="car-info-opption-tag">2WD
			</div>
			<div class="accident-history-wrap">
				<span class="accident-history-body">&nbsp;No Accident
				</span>
			</div>
			<div class="sub-info-btn-wrap used-list-item-modal-wrap">
				<div class="relative">
					<a role="button" class="add-fav-btn dvt_favorite_before_login dvt_favorite_limited" title="">
						<span class="icon-star">
						</span> Add to Favorite
					</a>
					<div class="add-favorite-tooltip tooltip-block dvt_favorite_login_tooltip">
						<button class="icon-close">
						</button>
						<p class="mb32">Please Sign up/Log in
							<br>to use this function.
						</p>
						<a href="https://id.tradecarview.com/trade/registration_new.aspx?lang=en&amp;ru=https%3a%2f%2fwww.tradecarview.com%2fused_car%2fall%2fall%2f%3fbsty%3d6%26addfvo%3dmain-list_car-20608481" role="button" class="sign-up-btn" title="">Sign up
						</a>
						<a href="https://id.tradecarview.com/trade/loginregist_new.aspx?lang=en&amp;ru=https%3a%2f%2fwww.tradecarview.com%2fused_car%2fall%2fall%2f%3fbsty%3d6%26addfvo%3dmain-list_car-20608481" role="button" class="login-btn" title="">Log in
						</a>
					</div>
				</div>
				<a role="button" class="send-btn show-modal-contact-seller dvt_show_send_offer_form" data-dvt_itemid="20608481" data-dvt_sellername="Safari Direct (tradecarview Official Store)" title="">Send
			</a>
		</div>
	</div>
	</div>
</section>
