{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
	<title>Item Title - Item Seller</title>
{% endblock %}

{% block page_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/itemListing.css' %}"/>
{% endblock %}
		
{% block content %}
	<div id="wrapper">
		<div class="row">
			<div class="col-md-4" id="sidebar">
				<div id="item-information">
					<h1>{{item.title}}</h1>
					<h4>Item Details</h4>
					{{item.details}}
					<h3 id="price">${{item.price}} USD</h3>
					<button type="button" class="btn btn-primary">Add to Cart</button>					
				</div>
				<div id="seller-information">
					<h3>More from</h3>
					<img id="profile-picture" class="img-circle" src="{% static 'files/harrison_profile.jpg' %}"/>
					<h3>{{seller.first_name}} {{seller.last_name}}</h3>
					<p>223 Followers</p>
					<div id="featured-items">
						<div class="row">
							<div class="col-md-6">
								{% for 'x' in 'xxx' %}
									<a href="#"><img src="{% static 'files/featured5.jpg' %}" class="img-thumbnail"/></a>
								{% endfor %}
							</div>
							<div class="col-md-6">
								{% for 'x' in 'xxx' %}
									<a href="#"><img src="{% static 'files/featured5.jpg' %}" class="img-thumbnail"/></a>
								{% endfor %}
							</div>		
						</div>
					</div>
					<button type="button" class="btn btn-primary">Follow</button>
				</div>
			</div>
			<div class="col-md-8" id="item-content">
				<div id="image">
					<img src="{% static 'files/featured1.jpg' %}"/>
				</div>
				<div id="details">
					{{item.details}}
				</div>
			</div>	
		</div>
	</div>
{% endblock %}
