{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>Item Title - Item Seller</title>
{% endblock %}

{% block page_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/itemListing.css' %}"/>
{% endblock %}
		
{% block content %}
	<div id="wrapper">
		<div class="row">
			<div class="col-md-4" id="sidebar">
				<div id="item-information">
					<h1>{{item.title}}</h1>
					<h4>Item Details</h4>
					{{item.details}}
					<h3 id="price">${{item.price}} USD</h3>
					<div class="form-group">
						<label for="quantity">Quantity</label>
						<input class="form-control" id = "quantity" type = "number" min = 1 max = 200000000 value=0>
					</div>
					{% if seller == user %}
						<button type="button" class="btn btn-default" onclick="window.location='/item/editItem/{{item.itemid}}'">Edit Item</button>
					{% else %}
						<button type="button" class="btn btn-default" onclick="window.location='/cart/addItem/{{item.itemid}}/' + encodeURI(document.getElementById('quantity').value)">Add To Cart</button>		
					{% endif %}
				</div>
				<div id="seller-information">
					<h3>More from</h3>
					<img id="profile-picture" class="img-circle" src={{MEDIA_ROOT}}{{sellerinfo.profile_picture.url}}/>
					<h3>{{seller.first_name}} {{seller.last_name}}</h3>
					<p>223 Followers</p>
					<div id="featured-items">
						<div class="row">
							<div class="col-md-6">
								{% for 'x' in 'xxx' %}
									<a href="#"><img src="{% static 'files/featured5.jpg' %}" class="img-thumbnail"/></a>
								{% endfor %}
							</div>
							<div class="col-md-6">
								{% for 'x' in 'xxx' %}
									<a href="#"><img src="{% static 'files/featured5.jpg' %}" class="img-thumbnail"/></a>
								{% endfor %}
							</div>		
						</div>
					</div>
					<button type="button" class="btn btn-primary">Follow</button>
				</div>
			</div>
			<div class="col-md-8" id="item-content">
				<div id="image">
					{% if item.picture %}
						<img src="{{MEDIA_ROOT}}{{item.picture.url}}"/>
					{% else %}
						<img src={% static 'files/default-picture.jpg' %}/>
					{% endif %}
				</div>
				<div id="details">	
					<h3>Item Description</h3>
					<p id="rating">Rating: {{item.averagerating}}</p>
					{{item.description}}
				</div>
				<div id="reviews">
					{% for review in reviews %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{review.user.first_name}} {{review.user.last_name}} says</h3>
							</div>
							<div class="panel-body">	
								<p>Rating: {{review.rating}}</p>
								<p>{{review.text}}</p>
							</div>
						</div>
					{% endfor %}
					<form id="reviewform" action="/item/addRating/" method="POST">
						{% csrf_token %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">POST A REVIEW</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label for="rating">Rating out of 5 (Format of this to change)</label>
									<input type="number" class="form-control" id="rating" name="rating"/>
								</div>
								<div class="form-group">
								    <label for="review-message">Your Review</label>
								    <textarea class="form-control" id="review-message" rows="5" name="review-message" placeholder="What do you have to say?"></textarea>
								</div>
								<input type="hidden" value={{item.itemid}} id="itemid" name="itemid" />	
								<div class="panel-footer">
									<input type="submit" value="POST REVIEW" class="btn" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>	
		</div>
	</div>
{% endblock %}
