{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>messages - craftnet</title>
{% endblock %}

{% block page_css %}
{% endblock %}
	
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
				{% for obj in msgusers %}
					<a class="list-group-item" href="/msg/{{obj.sender.username}}">{% if obj.unread != 0 %}<span class="badge">{{obj.unread}}</span> {% endif %}<div class="profPicTiny" style="background-image:url('{% if obj.userinfo.profile_picture %}{{MEDIA_ROOT}}{{obj.userinfo.profile_picture.url}}{% else %}{% static 'files/default-profile.jpg' %}{% endif %}')"></div> {{obj.sender.first_name}} {{obj.sender.last_name}}</a>
				{% endfor %}
				</div>
			</div>
			<div class="col-md-9">
				{% if requestedUser and requestedUserInfo %}
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{requestedUser.first_name}} {{requestedUser.last_name}}</h3>
						</div>
						<div class="panel-body msgsBody">
							<table class="table table-condensed msgs">
								{% for msg in specificmessages %}
									<tr>
										<td class="name">{{msg.sender.first_name}} {{msg.sender.last_name}}</td>
										<td>{{msg.body}}</td>
									</tr>
								{% endfor %}
							</table>
							<!--
							{% for msg in specificmessages %}
								<p>{{msg.sender.first_name}} {{msg.sender.last_name}}: {{msg.body}} ({{msg.timestamp|date:"F d, Y. h:i:s A"}})</p>
							{% endfor %}
							-->
						</div>
						<div class="panel-footer">
							<form id="formsendmsg" action="/msg/pSendMessage/" method="post">
								{% csrf_token %}
								<input type="hidden" name="recipient" value="{{requestedUser.username}}">
								<div class="input-group">
									<input id="msgin" name="body" type="text" class="form-control" placeholder="Message">
									<span class="input-group-btn">
										<button class="btn btn-default btn-no-border" type="submit">Send</button>
									</span>
								</div>
						    </form>
						</div>
					</div>
				{% else %}
					<div class="well">
						<h3>Select a user</h3>
					</div>
				{% endif %}
			</div>
		</div>
	</div>	
{% endblock %}

