{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>messages - craftnet</title>
{% endblock %}

{% block page_css %}
{% endblock %}
	
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-3 sidebar"></div>
			<div class="col-md-9">
				{% if requestedUser and requestedUserInfo %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{requestedUser.first_name}} {{requestedUser.last_name}}</h3>
						</div>
						<div class="panel-body"></div>
						<div class="panel-footer"></div>
					</div>
				{% else %}
					<div class="well">
						<h3 class="rowheader">Select a user</h3>
						{% for obj in msgusers %}
							{{obj.sender.first_name}} {{obj.sender.last_name}}: {{obj.unread}}<br>
						{% endfor %}
						{% for msg in temp %}
							{{msg.sender.username}}: {{msg.body}}<br>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>	
{% endblock %}

