{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
	<title>{% if notFound %}
		profile not found - craftnet
	{% else %}
		{{requestedUser.first_name}} {{requestedUser.last_name}} - craftnet
	{% endif %}</title>
{% endblock %}

{% block page_css %}
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>-->
{% endblock %}

{% block content %}
	{% if notFound %}
		<div class="container blockbg">
			<h1>Profile Not Found</h1>
		</div>
	{% else %}
		<div class="container">
			<div class="profPic" style="background-image:url('{% if requestedUserInfo.profile_picture %}{{MEDIA_ROOT}}{{requestedUserInfo.profile_picture.url}}{% else %}{% static 'files/default-profile.jpg' %}{% endif %}')"></div>
			<div class="row tallrow profile">
				<h1 class="rowheader">{{requestedUser.first_name}} {{requestedUser.last_name}}</h1>
				<p>7,324 Followers</p>
				{% if not self %}
					{% if user and userinfo %}
						<a type="button" class="btn btn-primary btn-lg" href="/user/{{requestedUser.username}}/follow">Follow</button>
						<a type="button" class="btn btn-primary btn-lg btn-msg" href="/msg/{{requestedUser.username}}/">Message</a>
					{% else %}
						<a type="button" class="btn btn-primary btn-lg" href="/acc/#signin">Follow</button>
						<a type="button" class="btn btn-primary btn-lg btn-msg" href="/acc/#signin">Message</a>
					{% endif %}
				{% endif %}
				<div class="profile-information blockbg">
					<h2>A little bit about myself</h2>
					<p>EMAIL: {{ requestedUser.email }}</p>
					<p>BIO: {{ requestedUserInfo.bio }}</p>
					<p>GENDER: {% if requestedUser.gender == True %}Male{% elif requestedUser.gender == False %}Female{% else %}Other{% endif %}</p>
					<p>BIRTHDAY: {{ requestedUserInfo.birthday|date:"F d, Y" }}</p>
					<p>PHONE NUMBER: {{ requestedUserInfo.phonenumber }}</p>
					<br/>	
					<h2>My Work</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		
				</div>
			</div>
			<div class="row tallrow blockbg">
				<h3 class="rowheader">Items by {{requestedUser.first_name}} {{requestedUser.last_name}}</h3>
				{% for x in "xxxxxx" %}
					<div class="col-md-2">
						<a href="#"><img src="/static/files/featured5.jpg" class="img-thumbnail"/></a>
					</div>
				{%endfor%}
			</div>
			<div class="row tallrow blockbg">
				<h3 class="rowheader">People also bought from</h3	>
				{% for x in "xxxxxx" %}
					<div class="col-md-2 browseProfile"> <!-- item img -->
						<!--
						<div class="img" style="background-image: url('{% static 'files/featured1.jpg' %}')"/></div>
						<div class="caption">-->
							<a href="#">
								<div class="profPicSmall" style="background-image: url('{% static 'files/featured1.jpg' %}')"/></div>
								<p class="name">William Hsu</p>
							</a>
							<p class="followers">4,123 Followers</p>
							<button type="button" class="btn btn-primary">Follow</button>
							<button type="button" class="btn btn-primary btn-msg">Message</button>
						<!--</div>-->
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}