{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>search results for '{{search}}' - Emark</title>
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-3 sidebar">
				<form id="sortf" action="#" method="get">
					<h3>Sort By</h3>
						<input type="hidden" name="q" value="{{search}}">
						<select class="form-control" name="sort" onchange="document.getElementById('sortf').submit()">
							<option {% if sortby == "relevancy" %}selected{% endif %} value="relevancy">Relevancy</option>
							<option {% if sortby == "recent" %}selected{% endif %} value="recent">Recent</option>
							<option {% if sortby == "lowtohigh" %}selected{% endif %} value="lowtohigh">Price Low To High</option>
							<option {% if sortby == "hightolow" %}selected{% endif %} value="hightolow">Price High To Low</option>
							<option {% if sortby == "rating" %}selected{% endif %} value="rating">Rating</option>
						</select>
					<h3>Categories</h3>
						<div class="checkbox">
							<label>
								<input name="cELECTRONICS" type="checkbox" value="" {% if cata.jewelry %}checked{% endif %}>
							Electronics
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cEVENTS" type="checkbox" value="" {% if cata.pottery %}checked{% endif %}>
								EVENTS
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cEDUCATION" type="checkbox" value="" {% if cata.sewingweaving %}checked{% endif %}>
								EDUCATION
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cCLOTHING" type="checkbox" value="" {% if cata.clothing %}checked{% endif %}>
								Clothing
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cMOTOR" type="checkbox" value="" {% if cata.art %}checked{% endif %}>
								Motor
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cSERVICE" type="checkbox" value="" {% if cata.art %}checked{% endif %}>
								Service
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cJOBS" type="checkbox" value="" {% if cata.art %}checked{% endif %}>
								Jobs
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cBOUTIQUESFASHION" type="checkbox" value="" {% if cata.art %}checked{% endif %}>
								Boutiques & Fashion
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cHOMEGARDEN" type="checkbox" value="" {% if cata.art %}checked{% endif %}>
								Home & Garden
							</label>
						</div>
					<h3>Filter By Price</h3>
						<div class="form-group">
					 		ZMK<input type="number" name="minPrice" class="form-control price-input" placeholder="MIN" value="{{minPrice|floatformat:2}}"> to ZMK<input  type="number" name="maxPrice" class="form-control price-input" placeholder="MAX" value="{{maxPrice|floatformat:2}}">
				 		</div>
			 		<button type="submit" class="btn btn-primary btn-block">Filter</button>
				</form>
			</div>
			<div class="col-md-9">
				{% for item in items %}
					<div class="browseItem three">
						<a href="/user/{{item.user.username}}/{{item.itemid}}">
							<div class="img" style="background-image: url('{% if item.picture %}{{MEDIA_ROOT}}{{item.picture.url}}{% else %}{% static 'files/default-picture.jpg' %}{% endif %}')"/></div>
							<div class="caption">
								<h4 class="title">{{item.title}}</h4>
								<h5 class="price">ZMK{{item.price|floatformat:2}}</h5>
								<h5 class="seller"><a href="/user/{{item.user.username}}">{{item.user.first_name}} {{item.user.last_name}}</a></h5>
							</div>
						</a>
					</div>
				{% empty %}
					<h4>No items to display!</h4>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
