{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>craftnet | search</title>
{% endblock %}

{% block page_css %}
	<link rel="stylesheet" href="{% static 'css/grid.css' %}">
	<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
	<main class="main">
		<div class="row">
			<div class="col-md-2 sidebar">
				<div id="category-filter">
					<h2>SORT BY</h2>
					<FORM id="sORT" aCTION ="#" method=	"posT">
						{% csrf_token %}
						<select class="form-control" name="sortby" onchange="document.getElementById('sORT').submit()">
							<option {% if sortby == "relevancy" %}selected{% endif %} value="relevancy">RELEVANCY</option>
							<option {% if sortby == "recent" %}selected{% endif %} value="recent">RECENT</option>
							<option {% if sortby == "lowtohigh" %}selected{% endif %} value="lowtohigh">PRICE LOW TO HIGH</option>
							<option {% if sortby == "hightolow" %}selected{% endif %} value="hightolow">PRICE HIGH TO LOW</option>
							<option {% if sortby == "rating" %}selected{% endif %} value="rating">RATING</option>
						</select>
					</FORM>
					<h2>CATEGORIES</h2>
					<ul>
						<li><a href="#">JEWELERY</a></li>
						<li><a href="#">POTTERY</a></li>
						<li><a href="#">SEWING & WEAVING</a></li>
						<li><a href="#">CLOTHING</a></li>
						<li><a href="#">ART</a></li>
					</ul>
				</div>
				<div id="price-filter">
					<h2>FILTER BY PRICE</h2>
					<div class="input-group">
			 			<input type="number" class="form-control" placeholder="$MIN">
					</div>
					<p>to</p>
					<div class="input-group">
			 			<input type="text" class="form-control" placeholder="$MAX">
					</div>
				</div>
				<div id="color-filter">
					<h2>FILTER BY COLOR</h2>                        
					<div id="color-buttons">
						<div class="color" id="red"></div>
						<div class="color" id="blue"></div>
						<div class="color" id="green"></div>
						<div class="color" id="yellow"></div>
						<div class="color" id="orange"></div>
						<div class="color" id="purple"></div>
						<div class="color" id="black"></div>
						<div class="color" id="white"></div>
					</div>
				</div>
				<div id="location-filter">
					<h2>FILTER BY LOCATION</h2>
					<div class="radio"><label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						ANYWHERE
					</label></div>
					<div class="radio"><label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
						UNITED STATES ONLY
					</label></div>
				</div>
			</div>
			<div class="col-md-10 search-items grid">
				{% for item in items %}
					<div class="item r1 c1">
						<a href="#">
							<img src="{% static 'files/featured1.jpg' %}"/>
							<div class="caption">
								<p class="title">{{item.title}}</p>
								<p class="price">${{item.price}} USD</p>
								<p class="seller">{{item.user.first_name}} {{item.user.last_name}}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}