{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>search results for '{{search}}' - craftnet</title>
{% endblock %}

{% block page_css %}
<!--
	<link rel="stylesheet" href="{% static 'css/grid.css' %}">
	<link rel="stylesheet" href="{% static 'css/search.css' %}">
-->
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-3 sidebar">
				<form class="blockbg" id="sortf" action="#" method="get" class="sbelem">
					<h3>SORT BY</h3>
					<input type="hidden" name="q" value="{{search}}">
					<select class="form-control" name="sort" onchange="document.getElementById('sortf').submit()">
						<option {% if sortby == "relevancy" %}selected{% endif %} value="relevancy">RELEVANCY</option>
						<option {% if sortby == "recent" %}selected{% endif %} value="recent">RECENT</option>
						<option {% if sortby == "lowtohigh" %}selected{% endif %} value="lowtohigh">PRICE LOW TO HIGH</option>
						<option {% if sortby == "hightolow" %}selected{% endif %} value="hightolow">PRICE HIGH TO LOW</option>
						<option {% if sortby == "rating" %}selected{% endif %} value="rating">RATING</option>
					</select>
					<h3>CATEGORIES</h3>
					<div id="cataf" class="sbelem">
						<div class="checkbox">
							<label>
								<input name="cjewelry" type="checkbox" value="" {% if cata.jewelry %}checked{% endif %}>
								Jewelry
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cpottery" type="checkbox" value="" {% if cata.pottery %}checked{% endif %}>
								Pottery
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="csewingweaving" type="checkbox" value="" {% if cata.sewingweaving %}checked{% endif %}>
								Sewing & Weaving
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cclothing" type="checkbox" value="" {% if cata.clothing %}checked{% endif %}>
								Clothing
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="cart" type="checkbox" value="" {% if cata.art %}checked{% endif %}>
								Art
							</label>
						</div>
					</div>
					<h3>FILTER BY PRICE</h3>
					<div id="pricef" class="sbelem">
				 		$<input type="number" name="minPrice" class="form-control price-input" placeholder="MIN" value="{{minPrice|floatformat:2}}"> to $<input  type="number" name="maxPrice" class="form-control price-input" placeholder="MAX" value="{{maxPrice|floatformat:2}}">
					</div>
				 	<button type="submit" class="btn btn-default btn-block">FILTER</button>
				</form>
			</div>
			<div class="col-md-9">
				{% for item in items %}
					<div class="browseItem three">
						<a href="/user/{{item.user.username}}/{{item.itemid}}">
							<div class="img" style="background-image: url(
								{% if item.picture %}
									{{MEDIA_ROOT}}{{item.picture.url}}
								{% else %}
									{% static 'files/default-picture.jpg' %}
								{% endif %})"/>
							</div>
							<div class="caption">
								<p class="title">{{item.title}}</p>
								<p class="price">${{item.price|floatformat:2}}</p>
								<p class="seller"><a href="/user/{{item.user.username}}">{{item.user.first_name}} {{item.user.last_name}}</a></p>
							</div>
						</a>
					</div>
				{% empty %}
					<p>No items to display!</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}