{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>your cart - craftnet</title>
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="sidebar inner">
					<h4>Subtotal ({{CartList|length}} Items):</h4>
					<h3 class="price">ZMK{{cartListSum|floatformat:2}} USD</h3>
					<a href="/cart/checkout/pShipping" type="button" class="btn btn-primary">Proceed To Checkout</a>
				</div>
			</div>
			<div class="col-md-6 cart" >
				<div class="list-group cart">
					{% for item in CartList %}
						<div class="list-group-item cart-item">
							<div class="imgholder small">
								<div class="img" style="background-image: url('{% if item.item.picture %}{{MEDIA_ROOT}}{{item.item.picture.url}}{% else %}{% static 'files/default-picture.jpg' %}{% endif %}')"/></div>
							</div><div class="description">
								<h3 class="title">{{item.item.title}}</h3>
								<h5 class="name"><a href="/user/{{item.item.user.username}}">{{item.item.user.first_name}} {{item.item.user.last_name}}</a></h5>
								<h4 class="price">ZMK{{item.item.price|floatformat:2}} USD</h4>
								<h5>Quantity: {{item.quantity}}</h5>
								<a href="/cart/remove/{{item.uniqueid}}" type="button" class="btn btn-danger">Remove Item</button></a>
							</div>
						</div>
					{% empty %}
						<div>
							<p>You currently have no items in your cart!</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
