{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	<title>Your Cart</title>
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-3 sidebar">
				<h4>Subtotal ({{CartList|length}} Items):</h4>
				<h3 class="price">${{cartListSum|floatformat:2}} USD</h3>
				<a href="/cart/checkout/pShipping" type="button" class="btn btn-primary">Proceed To Checkout</a>
			</div>
			<div class="col-md-9 cart" > 
				<h2>Your Shopping Cart</h2>
				<div class="list-group">
					{% for item in CartList %}
						<div class="list-group-item">
							<div class="imgholder small">
								<div class="img" style="background-image: url('{% if item.picture %}{{MEDIA_ROOT}}{{item.picture.url}}{% else %}{% static 'files/default-picture.jpg' %}{% endif %}')"/></div>
							</div>
							<div class="description">
								<h3 class="title">{{item.item.title}}</h3>
								<h5 class="name"><a href="/user/{{item.item.user.username}}">{{item.item.user.first_name}} {{item.item.user.last_name}}</a></h5>
								<h4 class="price">${{item.item.price|floatformat:2}} USD</h4>
								<h5>Quantity: {{item.quantity}}</h5>
								<a href="/cart/remove/{{item.uniqueid}}" type="button" class="btn btn-danger">Remove Item</button></a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}