{% extends 'base.html' %}
{% load staticfiles %}

{% block page_css %}
<!--	<link rel="stylesheet" type="text/css" href="{% static 'css/editItem.css' %}">-->
{% endblock %}

{% block title %}
	<title>{% if item %}edit {{item.title}}{% else %}create new item{% endif %} - craftnet</title>
{% endblock %}

{% block content %}
<div class="container">
	{% if item %}
		<form id ="itemform" action="/item/saveItem/{{item.itemid}}" method="POST" enctype="multipart/form-data">
	{% else %}
		<form id ="itemform" action="/item/saveItem/new" method="POST" enctype="multipart/form-data">
	{% endif %}
		{% csrf_token %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Item Details</h3>
			</div>
			<div class="panel-body">
				{% csrf_token %}
				{% if item %}
					<div class="imgholder large">
						<div class="img" style="background-image:url('{% if item.picture %}{{MEDIA_ROOT}}{{item.picture.url}}{% else %}{% static 'files/default-picture.jpg' %}{% endif %}')"></div>
					</div>
				{% endif %}
				<div class="form-group">
				    <label for="pic">{% if item %}Change Current Picture{% else %}Add a picture{% endif %}</label>
				    <input type="file" name="pic" id="pic" required>
				</div>
				<div class="form-group">
				    <label for="title">Title</label>
				    <input class="form-control" id="title" name="title" value="{{item.title}}" required/>
				</div>
				<div class="form-group">
				    <label for="details">Details</label>
				    <input class="form-control" id="details" name="details" value="{{item.details}}" required/>
				</div>
				<div class="form-group">
				    <label for="price">Price</label>
				    <input type="number" class="form-control" id="price" name="price" value="{{item.price}}" required/>
				</div>
				<div class="form-group">
				    <label for="description">Description</label>
				    <textarea class="form-control" id="description" rows="5" name="description" placeholder="Describe your item" required>{{item.description}}</textarea>
				</div>
				<div class="form-group">
					<label for="category">Category</label> 
					<select name="category">
						<option value="1" {% if item.category == 1 %}selected{% endif %}>Jewelry</option>
						<option value="2" {% if item.category == 2 %}selected{% endif %}>Pottery</option>
						<option value="3" {% if item.category == 3 %}selected{% endif %}>Sewing & Weaving</option>
						<option value="4" {% if item.category == 4 %}selected{% endif %}>Clothing</option>
						<option value="5" {% if item.category == 5 %}selected{% endif %}>Art</option>
					</select>
				</div>
				<div class="form-group">
				    <label for="tags">Tags</label>
				    <input class="form-control" id="tags" name="tags" value="{{item.tags}}"/>
				</div>
				{% if item %}
					<a class="btn btn-danger" href="/item/deleteItem/{{item.itemid}}">
						<span class="glyphicon glyphicon-remove"></span>
						Remove Item
					</a>
				{% endif %}
			</div>
			<div class="panel-footer">
				<input type="submit" value="{% if item %}Save Item{% else %}Create Item{% endif %}" class="btn btn-primary" />
			</div>
		</div>	
	</form>
</div>
{% endblock %}